# Pandas Demo Code

### Imports
We can shorten the import to pd which just makes life easier in the future.

In [1]:
import pandas as pd

### Reading in a DataFrame
We want to create a dataframe called df but in order to do that we need to download our SQL database as a .csv file.

Make sure your csv file is stored in the same folder as your jupyter notebook file.

In [2]:
df = pd.read_csv('Michigan_GameLogs_W24.csv')
df

,id,date,year,opponent,home_away,result,points_scored,points_against,pass_cmp,pass_att,...,pass_yrds,pass_td,pass_1st_down,rush_att,rush_yrds,rush_td,rush_1st_down,total_offense,fumbles,ints
0,1,2011-09-03,2011,Western Michigan,Home,W,34,10,9,13,...,98,0,5,26,190,3,9,288,0,0
1,2,2011-09-10,2011,Notre Dame,Home,W,35,31,11,24,...,338,4,10,26,114,1,5,452,0,3
2,3,2011-09-17,2011,Eastern Michigan,Home,W,31,3,7,18,...,95,2,5,50,376,2,19,471,0,1
3,4,2011-09-24,2011,San Diego State,Home,W,28,7,8,17,...,93,0,3,45,320,4,14,413,2,2
4,5,2011-10-01,2011,Minnesota,Home,W,58,0,18,25,...,217,3,10,48,363,3,19,580,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,161,2023-11-18,2023,Maryland,Away,W,31,24,12,23,...,141,0,9,45,150,3,9,291,0,1
161,162,2023-11-25,2023,Ohio State,Home,W,30,24,17,21,...,182,1,10,39,156,2,8,338,0,0
162,163,2023-12-02,2023,Iowa,Nuetral,W,26,0,22,30,...,147,0,9,34,66,2,3,213,0,0
163,164,2024-01-01,2024,Alabama,Nuetral,W,27,20,17,27,...,221,3,10,32,130,1,5,351,1,0
164,165,2024-01-08,2024,Washington,Nuetral,W,34,13,10,19,...,140,0,6,38,303,4,10,443,0,0

In [5]:
#df.head() #shows first 5
#df.tail() #shows last 5
df.head(2) #shows first 2

,id,date,year,opponent,home_away,result,points_scored,points_against,pass_cmp,pass_att,...,pass_yrds,pass_td,pass_1st_down,rush_att,rush_yrds,rush_td,rush_1st_down,total_offense,fumbles,ints
0,1,2011-09-03,2011,Western Michigan,Home,W,34,10,9,13,...,98,0,5,26,190,3,9,288,0,0
1,2,2011-09-10,2011,Notre Dame,Home,W,35,31,11,24,...,338,4,10,26,114,1,5,452,0,3

### Exploring DataFrames

In [6]:
# df.info() provides essential details for your dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              165 non-null    int64
 1   date            165 non-null    object
 2   year            165 non-null    int64
 3   opponent        165 non-null    object
 4   home_away       165 non-null    object
 5   result          165 non-null    object
 6   points_scored   165 non-null    int64
 7   points_against  165 non-null    int64
 8   pass_cmp        165 non-null    int64
 9   pass_att        165 non-null    int64
 10  pass_pct        165 non-null    float64
 11  pass_yrds       165 non-null    int64
 12  pass_td         165 non-null    int64
 13  pass_1st_down   165 non-null    int64
 14  rush_att        165 non-null    int64
 15  rush_yrds       165 non-null    int64
 16  rush_td         165 non-null    int64
 17  rush_1st_down   165 non-null    int64
 18  total_offense   165 non-null    int64
 19  fumbles         165 non-null    int64
 20  ints            165 non-null    int64
dtypes: float64(1), int64(16), object(4)
memory usage: 27.2+ KB

In [7]:
# .shape shows dimensions of df (number of rows, number of columns)
df.shape

(165, 21)

In [8]:
# we can append dataframes to each other. 
# It is good practice to never change/update original df directly... always create copies

temp_df = df.append(df)
temp_df.shape

(330, 21)

In [9]:
# we can also remove duplicate values with .drop_duplicates()
temp_df.drop_duplicates().shape

(165, 21)

### Modifying DataFrame Columns

In [10]:
df.columns

Index(['id', 'date', 'year', 'opponent', 'home_away', 'result',
       'points_scored', 'points_against', 'pass_cmp', 'pass_att', 'pass_pct',
       'pass_yrds', 'pass_td', 'pass_1st_down', 'rush_att', 'rush_yrds',
       'rush_td', 'rush_1st_down', 'total_offense', 'fumbles', 'ints'],
      dtype='object')

In [11]:
# .rename() allows us to rename our columns
df.rename(columns = {
    'home_away' : 'Home/Away',
    'points_scored' : 'Points Scored',
    'points_against' : 'Points Against',
    'pass_cmp': 'Pass Completions',
    'pass_att': 'Pass Attempts',
    'pass_pct' : 'Pass Percentage',
    'pass_yrds': 'Pass Yards',
    'pass_td': 'Pass TDs',
    'pass_1st_down': 'Pass 1st Downs',
    'rush_att': 'Rush Attempts',
    'rush_yrds': 'Rush Yards',
    'rush_td': 'Rush TDs',
    'rush_1st_down': 'Rush 1st Downs',
    'total_offense' : 'Total Offense'
}, inplace = True)
df.columns

Index(['id', 'date', 'year', 'opponent', 'Home/Away', 'result',
       'Points Scored', 'Points Against', 'Pass Completions', 'Pass Attempts',
       'Pass Percentage', 'Pass Yards', 'Pass TDs', 'Pass 1st Downs',
       'Rush Attempts', 'Rush Yards', 'Rush TDs', 'Rush 1st Downs',
       'Total Offense', 'fumbles', 'ints'],
      dtype='object')

In [12]:
# This line was done using list comprehension to make each column name all lowercase
df.columns = [col.lower() for col in df]
df.columns

Index(['id', 'date', 'year', 'opponent', 'home/away', 'result',
       'points scored', 'points against', 'pass completions', 'pass attempts',
       'pass percentage', 'pass yards', 'pass tds', 'pass 1st downs',
       'rush attempts', 'rush yards', 'rush tds', 'rush 1st downs',
       'total offense', 'fumbles', 'ints'],
      dtype='object')

### Checking for Null Values

In [13]:
# .isnull() checks for NULL or empty datapoints and returns True for any values that are NULL
df.isnull()

,id,date,year,opponent,home/away,result,points scored,points against,pass completions,pass attempts,...,pass yards,pass tds,pass 1st downs,rush attempts,rush yards,rush tds,rush 1st downs,total offense,fumbles,ints
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
161,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
162,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
163,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
164,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [14]:
# .sum() gets a summary of the above df
# If we did have null values, we could use the .dropna() function to remove all rows with null values
df.isnull().sum()
#df.dropna()

id                  0
date                0
year                0
opponent            0
home/away           0
result              0
points scored       0
points against      0
pass completions    0
pass attempts       0
pass percentage     0
pass yards          0
pass tds            0
pass 1st downs      0
rush attempts       0
rush yards          0
rush tds            0
rush 1st downs      0
total offense       0
fumbles             0
ints                0
dtype: int64

### Analyzing our Data

In [15]:
# .describe() gets us a numerical summary of each column that uses numbers
df.describe()

,id,year,points scored,points against,pass completions,pass attempts,pass percentage,pass yards,pass tds,pass 1st downs,rush attempts,rush yards,rush tds,rush 1st downs,total offense,fumbles,ints
count,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000
mean,83.000000,2017.060606,32.696970,18.757576,16.612121,27.581818,60.595152,214.272727,1.515152,9.545455,39.551515,183.539394,2.303030,9.436364,397.812121,0.484848,0.818182
std,47.775517,3.837709,14.422384,12.604273,5.629396,8.271368,11.350904,81.791925,1.314117,3.740768,8.550001,91.637109,1.701593,4.185181,106.990060,0.720823,0.945288
min,1.000000,2011.000000,0.000000,0.000000,7.000000,8.000000,33.300000,44.000000,0.000000,2.000000,15.000000,-48.000000,0.000000,0.000000,158.000000,0.000000,0.000000
25%,42.000000,2014.000000,21.000000,10.000000,13.000000,22.000000,52.200000,163.000000,0.000000,7.000000,34.000000,118.000000,1.000000,6.000000,326.000000,0.000000,0.000000
50%,83.000000,2017.000000,32.000000,17.000000,16.000000,27.000000,60.000000,208.000000,1.000000,9.000000,40.000000,169.000000,2.000000,9.000000,405.000000,0.000000,1.000000
75%,124.000000,2021.000000,42.000000,26.000000,20.000000,32.000000,69.200000,253.000000,2.000000,12.000000,45.000000,249.000000,3.000000,12.000000,463.000000,1.000000,1.000000
max,165.000000,2024.000000,78.000000,62.000000,33.000000,52.000000,87.500000,503.000000,6.000000,21.000000,61.000000,486.000000,9.000000,20.000000,751.000000,3.000000,5.000000

In [16]:
df['points scored'].describe()

count    165.000000
mean      32.696970
std       14.422384
min        0.000000
25%       21.000000
50%       32.000000
75%       42.000000
max       78.000000
Name: points scored, dtype: float64

In [18]:
# .value_counts() lets us count the number of times a specific value is in the column
df['opponent'].value_counts().head(20)

Michigan State      13
Ohio State          12
Indiana             11
Penn State          11
Rutgers             10
Maryland             9
Minnesota            8
Iowa                 8
Northwestern         7
Nebraska             7
Wisconsin            6
Notre Dame           6
Purdue               5
Illinois             5
Western Michigan     3
Alabama              3
Florida              3
South Carolina       2
Nevada-Las Vegas     2
Washington           2
Name: opponent, dtype: int64

In [19]:
# .corr() shows us the correlation between any combination of columns that have numbers
# values closer to 1 indicate a higher correlation between variables
df.corr()

,id,year,points scored,points against,pass completions,pass attempts,pass percentage,pass yards,pass tds,pass 1st downs,rush attempts,rush yards,rush tds,rush 1st downs,total offense,fumbles,ints
id,1.000000,0.996569,0.141405,-0.108398,0.207222,0.069452,0.281160,0.107715,0.044288,0.096317,-0.025899,0.042663,0.104258,0.059985,0.118888,-0.131202,-0.328495
year,0.996569,1.000000,0.155007,-0.132054,0.198382,0.056318,0.286958,0.104340,0.045761,0.091551,-0.017378,0.062516,0.116690,0.077308,0.133311,-0.131919,-0.321341
points scored,0.141405,0.155007,1.000000,-0.298972,0.105565,-0.219071,0.525792,0.359385,0.538490,0.222343,0.394380,0.604891,0.728534,0.518110,0.792833,-0.206903,-0.369920
points against,-0.108398,-0.132054,-0.298972,1.000000,0.249773,0.475634,-0.279886,0.263656,0.031146,0.241036,-0.342369,-0.436612,-0.349659,-0.371919,-0.172398,0.167377,0.307434
pass completions,0.207222,0.198382,0.105565,0.249773,1.000000,0.838657,0.426875,0.741689,0.334622,0.826658,-0.241806,-0.346513,-0.167801,-0.216901,0.270219,-0.004462,-0.040834
pass attempts,0.069452,0.056318,-0.219071,0.475634,0.838657,1.000000,-0.107922,0.575684,0.135501,0.661489,-0.365658,-0.524429,-0.403814,-0.389961,-0.009074,0.153871,0.174262
pass percentage,0.281160,0.286958,0.525792,-0.279886,0.426875,-0.107922,1.000000,0.396386,0.356585,0.414272,0.114188,0.202046,0.339735,0.218594,0.476082,-0.255180,-0.332014
pass yards,0.107715,0.104340,0.359385,0.263656,0.741689,0.575684,0.396386,1.000000,0.564055,0.855341,-0.191918,-0.242850,0.020476,-0.172581,0.556480,-0.031525,0.023831
pass tds,0.044288,0.045761,0.538490,0.031146,0.334622,0.135501,0.356585,0.564055,1.000000,0.413842,-0.023813,0.073023,-0.053877,0.089703,0.493754,-0.117234,-0.105758
pass 1st downs,0.096317,0.091551,0.222343,0.241036,0.826658,0.661489,0.414272,0.855341,0.413842,1.000000,-0.183905,-0.292211,-0.034747,-0.252097,0.403613,-0.044405,0.007525
rush attempts,-0.025899,-0.017378,0.394380,-0.342369,-0.241806,-0.365658,0.114188,-0.191918,-0.023813,-0.183905,1.000000,0.667690,0.435220,0.745049,0.425160,0.034508,-0.248554
rush yards,0.042663,0.062516,0.604891,-0.436612,-0.346513,-0.524429,0.202046,-0.242850,0.073023,-0.292211,0.667690,1.000000,0.658955,0.855768,0.670847,-0.113742,-0.274303
rush tds,0.104258,0.116690,0.728534,-0.349659,-0.167801,-0.403814,0.339735,0.020476,-0.053877,-0.034747,0.435220,0.658955,1.000000,0.517314,0.580049,-0.115546,-0.310505
rush 1st downs,0.059985,0.077308,0.518110,-0.371919,-0.216901,-0.389961,0.218594,-0.172581,0.089703,-0.252097,0.745049,0.855768,0.517314,1.000000,0.601031,-0.098856,-0.272664
total offense,0.118888,0.133311,0.792833,-0.172398,0.270219,-0.009074,0.476082,0.556480,0.493754,0.403613,0.425160,0.670847,0.580049,0.601031,1.000000,-0.121520,-0.216722
fumbles,-0.131202,-0.131919,-0.206903,0.167377,-0.004462,0.153871,-0.255180,-0.031525,-0.117234,-0.044405,0.034508,-0.113742,-0.115546,-0.098856,-0.121520,1.000000,0.085420
ints,-0.328495,-0.321341,-0.369920,0.307434,-0.040834,0.174262,-0.332014,0.023831,-0.105758,0.007525,-0.248554,-0.274303,-0.310505,-0.272664,-0.216722,0.085420,1.000000

### Accessing Rows/Columns/Values from a DataFrame

In [20]:
alt_df = df.set_index('date')
alt_df.head(5)

,id,year,opponent,home/away,result,points scored,points against,pass completions,pass attempts,pass percentage,pass yards,pass tds,pass 1st downs,rush attempts,rush yards,rush tds,rush 1st downs,total offense,fumbles,ints
date,,,,,,,,,,,,,,,,,,,,
2011-09-03,1,2011,Western Michigan,Home,W,34,10,9,13,69.2,98,0,5,26,190,3,9,288,0,0
2011-09-10,2,2011,Notre Dame,Home,W,35,31,11,24,45.8,338,4,10,26,114,1,5,452,0,3
2011-09-17,3,2011,Eastern Michigan,Home,W,31,3,7,18,38.9,95,2,5,50,376,2,19,471,0,1
2011-09-24,4,2011,San Diego State,Home,W,28,7,8,17,47.1,93,0,3,45,320,4,14,413,2,2
2011-10-01,5,2011,Minnesota,Home,W,58,0,18,25,72.0,217,3,10,48,363,3,19,580,0,0

In [26]:
# Two ways to access a row using indicies, we can use the loc function and iloc function
# loc requires the label indexing while iloc uses integer indexing
# returns a Series (essentially just 1 column from a df)

row1_loc = alt_df.loc['2011-09-10']
#print(row1_loc)
row1_iloc = alt_df.iloc[1]
#print(row1_iloc)

In [27]:
# To access multiple rows, you can slice the df
first_100 = df.iloc[:100]
first_100

,id,date,year,opponent,home/away,result,points scored,points against,pass completions,pass attempts,...,pass yards,pass tds,pass 1st downs,rush attempts,rush yards,rush tds,rush 1st downs,total offense,fumbles,ints
0,1,2011-09-03,2011,Western Michigan,Home,W,34,10,9,13,...,98,0,5,26,190,3,9,288,0,0
1,2,2011-09-10,2011,Notre Dame,Home,W,35,31,11,24,...,338,4,10,26,114,1,5,452,0,3
2,3,2011-09-17,2011,Eastern Michigan,Home,W,31,3,7,18,...,95,2,5,50,376,2,19,471,0,1
3,4,2011-09-24,2011,San Diego State,Home,W,28,7,8,17,...,93,0,3,45,320,4,14,413,2,2
4,5,2011-10-01,2011,Minnesota,Home,W,58,0,18,25,...,217,3,10,48,363,3,19,580,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,2018-10-06,2018,Maryland,Home,W,42,21,20,28,...,294,3,11,40,171,1,11,465,0,1
96,97,2018-10-13,2018,Wisconsin,Home,W,38,13,14,21,...,124,0,5,48,320,3,14,444,0,0
97,98,2018-10-20,2018,Michigan State,Away,W,21,7,14,25,...,212,2,8,53,183,1,11,395,2,0
98,99,2018-11-03,2018,Penn State,Home,W,42,7,11,17,...,144,2,6,52,259,3,14,403,0,0
99,100,2018-11-10,2018,Rutgers,Away,W,42,7,18,27,...,260,3,14,40,193,3,10,453,0,0

In [32]:
# To access a column, we can use bracket notation
# This returns a series
#df['opponent']

# This returns a df
#df[['opponent']]

# This returns a df with multiple columns
df[['opponent', 'result']]

             opponent result
0    Western Michigan      W
1          Notre Dame      W
2    Eastern Michigan      W
3     San Diego State      W
4           Minnesota      W
..                ...    ...
160          Maryland      W
161        Ohio State      W
162              Iowa      W
163           Alabama      W
164        Washington      W

[165 rows x 2 columns]

In [33]:
# To access a specific value within a df, you can access the row and then the column
rush_yrds_natty = df.iloc[164]['rush yards']
rush_yrds_natty

303

### Pandas Groupby() Function

In [38]:
# we can use the groupby function to form groups within our df
years = df.groupby('year')

# we can access each of the groups using the get_group function
games2023 = years.get_group(2023)
games2023

,id,date,year,opponent,home/away,result,points scored,points against,pass completions,pass attempts,...,pass yards,pass tds,pass 1st downs,rush attempts,rush yards,rush tds,rush 1st downs,total offense,fumbles,ints
150,151,2023-09-02,2023,East Carolina,Home,W,30,3,26,31,...,280,3,18,31,122,1,4,402,0,0
151,152,2023-09-09,2023,Nevada-Las Vegas,Home,W,35,7,23,28,...,313,2,14,33,179,3,8,492,0,1
152,153,2023-09-16,2023,Bowling Green State,Home,W,31,6,8,13,...,143,2,5,31,169,2,10,312,1,3
153,154,2023-09-23,2023,Rutgers,Home,W,31,7,15,21,...,214,1,9,40,201,2,11,415,0,0
154,155,2023-09-30,2023,Nebraska,Away,W,45,7,16,23,...,187,3,10,51,249,3,15,436,0,0
155,156,2023-10-07,2023,Minnesota,Away,W,52,10,16,23,...,241,1,9,33,191,4,8,432,0,0
156,157,2023-10-14,2023,Indiana,Home,W,52,7,19,22,...,244,4,13,42,163,3,9,407,0,0
157,158,2023-10-21,2023,Michigan State,Away,W,49,0,28,35,...,357,4,18,34,120,2,6,477,0,0
158,159,2023-11-04,2023,Purdue,Home,W,41,13,24,37,...,335,0,15,34,110,5,5,445,1,0
159,160,2023-11-11,2023,Penn State,Away,W,24,15,7,8,...,60,0,4,46,227,3,10,287,0,0
160,161,2023-11-18,2023,Maryland,Away,W,31,24,12,23,...,141,0,9,45,150,3,9,291,0,1
161,162,2023-11-25,2023,Ohio State,Home,W,30,24,17,21,...,182,1,10,39,156,2,8,338,0,0
162,163,2023-12-02,2023,Iowa,Nuetral,W,26,0,22,30,...,147,0,9,34,66,2,3,213,0,0

In [39]:
# we can also use groupby() paired with other functions to get some key calculations
results = df.groupby('result')
results.mean()

,id,year,points scored,points against,pass completions,pass attempts,pass percentage,pass yards,pass tds,pass 1st downs,rush attempts,rush yards,rush tds,rush 1st downs,total offense,fumbles,ints
result,,,,,,,,,,,,,,,,,
L,69.466667,2015.844444,18.977778,31.955556,18.111111,33.866667,52.951111,213.444444,1.000000,10.044444,33.555556,100.488889,0.977778,6.266667,313.933333,0.711111,1.444444
W,88.075000,2017.516667,37.841667,13.808333,16.050000,25.225000,63.461667,214.583333,1.708333,9.358333,41.800000,214.683333,2.800000,10.625000,429.266667,0.400000,0.583333

In [42]:
results.sum()

,id,year,points scored,points against,pass completions,pass attempts,pass percentage,pass yards,pass tds,pass 1st downs,rush attempts,rush yards,rush tds,rush 1st downs,total offense,fumbles,ints
result,,,,,,,,,,,,,,,,,
L,3126,90713,854,1438,815,1524,2382.8,9605,45,452,1510,4522,44,282,14127,32,65
W,10569,242102,4541,1657,1926,3027,7615.4,25750,205,1123,5016,25762,336,1275,51512,48,70

In [ ]:
# Other functions include count, max, min, and median